.fondo
{
    position: absolute;
    height: 100%;
    display: flex;
    width: 100%;
    background: #000000a6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 1px;
}

.centro
{
    background: #77c0ff;
    border: solid 2px;
}

.formulario
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    align-items: stretch;
    & label
    {
        padding: 5px;
        background-color: white;
    }
}

table
{
    background-color: #e2e9ff;
    width: 100%;
    text-align: center;
    min-width: 1000px
}

td
{
    border: black 2px solid;
}

th
{
    background-color: #77c0ff;
    border: black 2px solid;
}