table
{
    background-color: #e2e9ff;
    width: 100%;
    text-align: center;
    min-width: 1000px
}

td
{
    border: black 2px solid;
}

th
{
    background-color: #77c0ff;
    border: black 2px solid;
}

button
{
    background-color: #34730d;
    border: none;
    border-radius: 10px;
    margin: 10px;
    &:hover
    {
        background-color: #2eb512; 
    }
}
